
services:
  fluentd:
    build:
      context: ./fluentd
      dockerfile: Dockerfile
    container_name: fluentd
    ports:
      - "24224:24224"
      - "24224:24224/udp"
    environment:
      - FLUENTD_CONF=fluent.conf
    volumes:
      - ./fluentd/fluent.conf:/fluentd/etc/fluent.conf
      - fluentd-buffer:/fluentd/buffer
    restart: unless-stopped
    networks:
      - monitoring

  loki:
    image: grafana/loki:3.4.1
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
    restart: unless-stopped
    networks:
      - monitoring
    logging:
      driver: "json-file"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_DATASOURCES__LOKI__URL=http://loki:3100
      - GF_DATASOURCES__LOKI__ACCESS=proxy
      - GF_DATASOURCES__LOKI__IS_DEFAULT=true
      - GF_DATASOURCES__LOKI__TYPE=loki
      - GF_DATASOURCES__LOKI__NAME=Loki
    networks:
      - monitoring
    logging:
      driver: "json-file"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    restart: unless-stopped
    networks:
      - monitoring
    logging:
      driver: "json-file"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
    networks:
      - monitoring
    logging:
      driver: "json-file"

  basic-exporter:
    build:
      context: ./basic-exporter
      dockerfile: Dockerfile
    container_name: basic-exporter
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - monitoring
    command: python exporter.py
    logging:
      driver: "json-file"

volumes:
  fluentd-buffer:

networks:
  monitoring:
    driver: bridge
